
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

#none {
	margin-top: 40px;
}
body{
	background-image: url('https://tritran280.github.io/abcxyz/Img/backgr.jpg');
	background-size: auto;
	background-position-y: -50px;
	margin: 0;
}
.container {
	max-width: 960px;
	margin: 0px auto;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	background: #1a7bd5;
  }

.cls-hearder {
	margin: 0;
	padding: 0;
}

nav{
	display: flex;
	justify-content: space-between;
	justify-items: center;
}
.logo {
	flex-basis: 10%;
}
.logo a {
	color: antiquewhite;
	text-decoration: none;
	font-size: 20px;
}
.search-box {
	flex-basis: 45%;
	position: relative;
}
.search-box #search-text {
	position: absolute;
	right: 30px;
	left: 10px;
	border: 2px solid #273c75;
	padding: 5px 15px;
	margin-bottom: 10px;
	border-radius: 15px;
}
.search-box #search-btn {
	position: absolute;
	right: 0px;
	margin-top: 8px;
	border: none;
	background-color: rgba(255, 255, 0, 0);
}
.main-menu {
	flex-basis: 35%;
}
.main-menu #menu {
	display: flex;
	list-style: none;
	margin: 8px -50px;
}
.main-menu #menu #tk {
	margin-right: 60px;
}
.main-menu #menu #gh {
	margin-right: 60px;
}

.main-menu #menu li a{
	text-decoration: none;
	color: #c4f0f1;
	font-weight: bold;
}





